<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-dashboard'></i><span>Dashboard</span></h1>
			<div class='pull-right'>
				<ul class='breadcrumb'>
					<li>
						<code>
							<%= session[:userid]%>
						</code>
					</li>
					<li class='separator'>
						<i class='icon-angle-right'></i>
					</li>
					<li>
						<code>
							<%= session[:club].upcase %>
						</code>
					</li>
					<li class='separator'>
						<i class='icon-angle-right'></i>
					</li>
					<li>
						<code>
							<%= session[:role].gsub(',', ', ') %>
						</code>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

