<!-- <%role = session[:role]%>
<%if role == 'normal' || role == 'cbdmc'|| role == 'smusasec'%> 
<a href='../claims/newclaim'>New Claim
<a href='../admin/register'>Register for a club
<%end%>
<a href='../claims/viewclaim'>View Claims
<%if role != 'normal' && role != 'cbdmc'&& role != 'smusasec'%> 
<a href='../admin/register'>Manage User Registrations
<%end%> -->

<div class='container'>
  <div class='row' id='content-wrapper'>
    <div class='col-xs-12'>

<%if !session[:role].nil? %>
You are logged in as: <%= session[:userid]%>
<br />Current Club: <%= session[:club]%>
<br />Your club roles: <%= session[:role]%>
<%end%>
      
    </div>
  </div>
</div>
