<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-search'></i><span> Get Recommendation</span></h1>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12 col-lg-12'>
		<div class='box bordered-box'>
			<div class='box-content box-double-padding'>
				
				<form id="myForm" method="get" action="/vendors/recommend2" onsubmit="return validate()">
				<fieldset>
					<div class='col-sm-4'>
						<div class='lead'>
							<i class='icon-file-alt text-contrast'></i>
							Notes On Searching for Vendor
						</div>
						<small class='text-muted'>The Vendor Search algorithm uses weightages assigned by you to the different aspects of Vendors, to rank the vendors and return the top X number of results (where X is specified by you when you request for search). <br/><br/>You have a total weight of 10 to ditribute to the various categories, you have to use all 10. <br/><br/>The objective of which is to help you really think through which category is of more importance to you. There is a counter in the purple box, it will record the weight still available for use as you select more choices.</small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h3>Vendor Information</h3>
						<div class="form-group">
							<label>Select Category</label>
							<%a = Array(1..9)
							b = Array(1..10)%>
							<select class ="select2 form-control" id="category" name="category"><optgroup label='Logistics'><option value='1'>Assets</option><option value='2'>PA Systems</option><option value='3'>Sports Equipments</option><option value='4'>Arts Equipments</option></optgroup><optgroup label='Food'><option value='5'>Catering</option><option value='6'>Packed Meals</option></optgroup><optgroup label='Transport'><option value='7'>Vehicle to transport logistics</option><option value='8'>Vehicle to transport people</option></optgroup><optgroup label='External Venues'><option value='9'>Booking of spaces for events</option></optgroup></select>
						</div>
						<div class="form-group">
							<label>Vendor that offers credit limit </label> <i> (e.g. minimum 30 days of credit limit)</i>
							<select class ="select2 form-control" id="creditlimit" name="creditlimit"><option value='Yes'>Yes</option><option value='No'>No</option></select>
						</div>
						<hr />
						<h3>Input weights</h3>
						<label>Weights left </label> <input id="tokensLeft" class="btn btn-info btn-lg" value="10" type="button" disabled="true"/>
						<div class="form-group">
							<label>Price</label>
							
							<select class="select2 form-control" id="price" name="price" onchange="tokenCheck()"><option value='0'>0</option><option value='1'>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>
						</div>
						<div class="form-group">
							<label>Quality</label>
					
							<select class="select2 form-control" id="quality" name="quality" onchange="tokenCheck()"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>

						</div>
						<div class="form-group">
							<label>Punctuality</label>
							
							<select class="select2 form-control" id="punctuality" name="punctuality" onchange="tokenCheck()"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>

						</div>
						<div class="form-group">
							<label>Customer Service</label>
							
							<select class="select2 form-control" id="customerservice" name="customerservice" onchange="tokenCheck()"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>

						</div>
						<div class="form-group">
							<label>Overall</label>
							
							<select class="select2 form-control" id="overall" name="overall" onchange="tokenCheck()"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>

						</div>
						<div class="form-group">
							<label>Number of results</label> <i>(e.g. number of vendors you would like to see)</i>
					
							<input class="form-control" id="results" name="results" min="1" max="500" type="number"></input>

						</div>
					</fieldset>
					<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
						<div class='text-right'>
						
							<input name="commit" type="submit" value="Get recommendation" class="btn btn-primary btn-lg blue-background" />
						</div>
					</div>
				</div>
			
			</form>
		</div>
	</div>
</div>

<script>

	function tokenCheck(){
		var sum = 0;
		sum += parseInt(document.getElementById('price').value);
		sum += parseInt(document.getElementById('quality').value);
		sum += parseInt(document.getElementById('punctuality').value);
		sum += parseInt(document.getElementById('customerservice').value);
		sum += parseInt(document.getElementById('overall').value);
		var max = 10;
		var left = max - sum;
		if(left < 0){
			alert("Not enough weightage tokens for the last weightage assigned, please revise your choice!");
		}else{
			document.getElementById("tokensLeft").value=left;
		}
		
	}
	document.load(tokenCheck());
	function validate(){
	
		var sum = 0;
		sum += parseInt(document.getElementById('price').value);
		sum += parseInt(document.getElementById('quality').value);
		sum += parseInt(document.getElementById('punctuality').value);
		sum += parseInt(document.getElementById('customerservice').value);
		sum += parseInt(document.getElementById('overall').value);
		if(  sum != 10){
	        alert('Sum of weights must be 10');
	        return false;
	    }
	    
	
	}
</script>



<!-- <table class="tableizer-table">
<tr class="tableizer-firstrow"><th>Logistics</th><th>&nbsp;</th></tr>
 <tr><td>1</td><td>Assets</td></tr>
 <tr><td>2</td><td>PA Systems</td></tr>
 <tr><td>3</td><td>Sports equipments</td></tr>
 <tr><td>4</td><td>Arts equipments</td></tr>
 <tr><td>Food</td><td>&nbsp;</td></tr>
 <tr><td>5</td><td>Catering</td></tr>
 <tr><td>6</td><td>Packed meals</td></tr>
 <tr><td>Transport</td><td>&nbsp;</td></tr>
 <tr><td>7</td><td>Vehicle to transport logistics</td></tr>
 <tr><td>8</td><td>Vehicle to transport people</td></tr>
 <tr><td>External Venues</td><td>&nbsp;</td></tr>
 <tr><td>9</td><td>Booking of spaces for events</td></tr>
</table> -->