<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-search'></i><span> Get Recommendation</span></h1>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12 col-lg-12'>
		<div class='box bordered-box'>
			<div class='box-content box-double-padding'>
				
				<form id="myForm" method="get" action="/vendors/recommend2" onsubmit="return validate()">
				<fieldset>
					<div class='col-sm-4'>
						<div class='lead'>
							<i class='icon-file-alt text-contrast'></i>
							Notes On Searching for Vendor
						</div>
						<small class='text-muted'>The Vendor Search algorithm uses weightages assigned by you to the different aspects of Vendors, to rank the vendors and return the top X number of results (where X is specified by you when you request for search).</small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h3>Vendor Information</h3>
						<div class="form-group">
							<label>Select category</label>
							<%a = Array(1..9)
							b = Array(1..10)%>
							<select class ="select2 form-control" id="category" name="category"><optgroup label='Logistics'><option value='1'>Assets</option><option value='2'>PA Systems</option><option value='3'>Sports Equipments</option><option value='4'>Arts Equipments</option></optgroup><optgroup label='Food'><option value='5'>Catering</option><option value='6'>Packed Meals</option></optgroup><optgroup label='Transport'><option value='7'>Vehicle to transport logistics</option><option value='8'>Vehicle to transport people</option></optgroup><optgroup label='External Venues'><option value='9'>Booking of spaces for events</option></optgroup></select>
						</div>
						<hr />
						<h3>Input weights</h3>
						<div class="form-group">
							<label>Price</label>
							
							<select class="select2 form-control" id="price" name="price"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>
						</div>
						<div class="form-group">
							<label>Quality</label>
					
							<select class="select2 form-control" id="quality" name="quality"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>

						</div>
						<div class="form-group">
							<label>Punctuality</label>
							
							<select class="select2 form-control" id="punctuality" name="punctuality"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>

						</div>
						<div class="form-group">
							<label>Customer Service</label>
							
							<select class="select2 form-control" id="customerservice" name="customerservice"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>

						</div>
						<div class="form-group">
							<label>Overall</label>
							
							<select class="select2 form-control" id="overall" name="overall"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>

						</div>
						<div class="form-group">
							<label>Number of results</label>
					
							<input class="form-control" id="results" name="results" min="1" max="500" type="number"></input>

						</div>
					</fieldset>
					<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
						<div class='text-right'>
						
							<input name="commit" type="submit" value="View recommendations" />
						</div>
					</div>
				</div>
			
			</form>
		</div>
	</div>
</div>

<%=javascript_tag do%>

function validate(){
<!-- var x; -->
	var sum = 0;
	sum += parseInt(document.getElementById('price').value);
	sum += parseInt(document.getElementById('quality').value);
	sum += parseInt(document.getElementById('punctuality').value);
	sum += parseInt(document.getElementById('customerservice').value);
	sum += parseInt(document.getElementById('overall').value);
	if(  sum != 10){
        alert('Sum of weights must be 10');
        return false;
    }
<!-- document.getElementById("pres").innerHTML = x; -->
}

<%end%>


<!-- <table class="tableizer-table">
<tr class="tableizer-firstrow"><th>Logistics</th><th>&nbsp;</th></tr>
 <tr><td>1</td><td>Assets</td></tr>
 <tr><td>2</td><td>PA Systems</td></tr>
 <tr><td>3</td><td>Sports equipments</td></tr>
 <tr><td>4</td><td>Arts equipments</td></tr>
 <tr><td>Food</td><td>&nbsp;</td></tr>
 <tr><td>5</td><td>Catering</td></tr>
 <tr><td>6</td><td>Packed meals</td></tr>
 <tr><td>Transport</td><td>&nbsp;</td></tr>
 <tr><td>7</td><td>Vehicle to transport logistics</td></tr>
 <tr><td>8</td><td>Vehicle to transport people</td></tr>
 <tr><td>External Venues</td><td>&nbsp;</td></tr>
 <tr><td>9</td><td>Booking of spaces for events</td></tr>
</table> -->