<table align='center' bgcolor='#f4f7f9' border='0' cellpadding='0' cellspacing='0' id='backgroundTable' style='background: #f4f7f9;' width='100%'>
    
    <tr>
        <td align='center'>
            <center>
                <table border='0' cellpadding='30' cellspacing='0' style='margin-left: auto;margin-right: auto;width:600px;text-align:center;' width='600'>
                    <tr>
                        <td align='left' style='background: #ffffff; border: 1px solid #dce1e5;' valign='top' width=''>
                            <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                <tr>
                                    <td align='center' valign='top'>
                                        <h2>Reset Instructions</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td align='center' valign='top'>
                                        <h4 style='color: #f8a326 !important'>Password reset</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td align='center' style='border-top: 1px solid #dce1e5;border-bottom: 1px solid #dce1e5;' valign='top'>
                                        <p style='margin: 1em 0;'>
                                            <strong>E-mail:</strong>
                                            <%= @resource.email %>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align='center' bgcolor='#f8a326' valign='top'>
                                        <h3><font color="white"><%= link_to 'Click to change my password', edit_password_url(@resource, reset_password_token: @token) %></font></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td align='center' valign='top'>
                                        <p style='margin: 1em 0;'>
                                            <br>
                                            Someone has requested a link to change your password. You can do this through the link above. <br />If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>


