<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-exchange'></i>
				<!-- span has to be on next line to create that space between the logo and the words -->
				<span>Perform Fund Transfers</span></h1>
		</div>
	</div>
</div>
<h1>Accounts#fundstransfer</h1>
<p>Find me in app/views/accounts/fundstransfer.html.erb</p>
